body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 254, 254);
    overflow-x: hidden;
}

nav{
    position: fixed;
    width: 100%;
    top: 0;

}
nav ul{
    
    top: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #252525e0;
    gap: 30px;

}

nav ul li {
    display: inline;
    
}
nav ul li a{
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
    display: block;
}
.div1{
    padding-top: 25px;
}
.para1{
    text-align: center;

    color: rgb(0, 0, 0);
    width: 100%;
    height: 30px;
    top: 0;

}
.btn1{
text-decoration: none;
}
section{
    background-color: #F5F5F7;
    height: 650px;
}
.image1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #7e7eb3(243, 244, 245);
    width: 100%;
    height: auto;
    right: 50%;
}

.btn2{
    display: inline-block;
    padding: 0.5em 1.5em;
    margin: 0 0.5em;
    font-size: 1.2em;
    font-size: "SF pro text regular";
    color: #007bff;
    background-color: transparent;
    border: 1px solid ;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;

    
    
}
.btn2:hover{
    background-color:#007bff ;
    color: white;
}
.div2{
    text-align: center;
}
.h1{
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.h3{
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}

.btn3 {
    display: inline-block;
    padding: 0.5em 1.5em;
    margin: 5px;
    font-size: 18px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;
}
.btn3:hover{
    background-color: #0066CC;

}

.btn4 {
 display: inline-block;
    padding: 0.5em 1.5em;
    margin: 0 0.5em;
    font-size: 1.2em;
    font-size: "SF pro text regular";
    color: #007bff;
    background-color: transparent;
    border: 1px solid ;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;
}
.btn4:hover{
    background-color:#007bff;;
    color: white;
}
.img2{
    width: 100%;
    height: auto;
    
}
.img3{
    width: 100%;
    height: auto;
    display: flex;
}
.btn5{
    display: inline-blok;
    padding: 0.5em 1.5em;
    margin: 70px;
    font-size: 18px;
    color: white;
    text-align: center;
    background-color: #007bff;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    
}
.btn5:hover{
    background-color: #0066CC;
}
.btn6{
    display: inline-block;
    padding: 10px 26px;
    margin:40px 50px;
    font-size: 1.2em;
    font-size: "SF pro text regular";
    color: #007bff;
    background-color: transparent;
    border: 1px solid ;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;
    margin-left: -40px;
}
.btn6:hover{
    background-color:#007bff;;
    color: white;  
    border: 1px solid #007bff; 
}
.div3{
background-color: black;
text-align: center;
}
.h5{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
.h4{
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50px;
    color: white;
}


*{
    box-sizing: border-box;
}

.divco1{
    float: left;
    width: 50%;
    padding: 15px;
    background-color: black;
    text-align: center;
}
.divco2{
    float: left;
    width: 50%;

     padding: 15px;
}

.divrow4::after{
    content: "";
    clear: both;
    display: table;
}
@media screen and (max-width: 500px) {
    .divco{
        width: 100%;
    }  
}
.img4{
   
    width: 100%;
    height: auto;
    display: flex;
}

.h6{
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 30px;
}
.h7{
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn7{
    display: inline-block;
    padding: 10px 25px;
    margin: 5px;
    font-size: 18px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;
}
.btn7:hover{
    background-color:#0066CC;
    color: white;  
    

}
.divco2{
    background-color: #F5F5F7;
    text-align: center;
}
.h8{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn8{
    padding: 10px 25px;
    text-decoration: none;
    border: 1px solid #007bff;

    
        display: inline-block;
        padding: 10px 25px;
        margin: 5px;
        font-size: 18px;
        color: white;
        background-color: #007bff;
        border: none;
        border-radius: 25px;
        text-decoration: none;
        cursor: pointer;
}
.btn8:hover{
    background-color:#0066CC;
}
.img5{
    width: 100%;
    height: 300px;
}








    

